.centreText {
    text-align: center;
}

.h1 {
    font-size: 150px;
}
  
  .table {
    border-collapse: collapse;
	  border-bottom: 1px solid #d6d6d6;
  }

  .table th, .table td{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #434343;
    background-color: #f7f7f7;
    border-left:1px solid #ffffff;
    border-right:1px solid #dcdcdc;
  }

  .table th {
    font-weight: normal;
    letter-spacing: 0.12em;
    text-shadow: -1px -1px 1px #999;
    color: rgb(255, 255, 255);
    background-color: #b6bcfa;
    padding: 12px 0px 8px 0px;
    border-bottom: 1px solid #d6d6d6;
  }

  .table td {
    text-shadow:1px 1px 0 #fff;
    padding:12px 20px 12px 20px;
    border: 1px solid #dddddd;
  }
  
  .table tr:nth-child(even){
    background-color: #b4c295;
  }
  .table tr:hover{
    background-color: #ddd;
  }
  
  .button{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  
  
  